@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
body{
    background-color: black;
    color:blueviolet;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: yellow;
}