@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
body{
    background-color: black;
    color:white;
}
a{
    text-decoration: none;
    color: white;
}
.centro{
    text-align: center;
}
.padinng5{
    padding: 5vh;
    padding-bottom: 2vh;
}
.card{
    margin: 5px 10% 0px 10%;
    padding: 0;
    color: black;
}

.card h2{
    font-size: 20pt;
}
.card p{
    margin-left: 2vh;
    float: left;
}
.imgcarde{
    width: 100%;
    height: 100%;
}
.meio {
    width: 50%;
    text-justify:newspaper;
}
a:hover {
    color: grey;
}

.textoprinci{
    font-size: 16pt;
}
.cinza{
    background-color: #1A181A;
}
.bemvindo{
    animation: titulo 2s;
}
.textosec{
    animation: titulo 3s;
}
@keyframes titulo {
    0% {
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}