@keyframes noti {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.noti1{
    animation: noti 3s ease;
}
.noti2{
    animation: noti 4s ease;
}
.noti3{
    animation: noti 5s ease;
}
.noti4{
    animation: noti 6s ease;
}